<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <springProperty scope="context" name="application_name" source="spring.application.name"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="SAVE-TO-FILE" class="ch.qos.logback.core.FileAppender">
    <file>var/logs/application1.log</file>
      <!--<encoder class="net.logstash.logback.encoder.LogstashEncoder"/>-->
    <encoder>
      <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</pattern>
    </encoder>
  </appender>
  <logger name="·" additivity="false" level="info">
    <appender-ref ref="SAVE-TO-FILE"/>
    <appender-ref ref="STDOUT"/>
  </logger>
  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
